*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*------BarraNavegacao------*/

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: silver;
  font-family: 'Raleway', sans-serif;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links a{
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 13.5px;
  font-weight: bolder;
}

.nav-links{
  margin-top: 10px;
}

.navegar {
  margin: 0 auto;
  display: block;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 16px;
  font-size: 14px;
}

  .navegar ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px black;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
  }

  .navegar li a {
    color: black;
  }

  .navegar li a:hover {
    color: grey;
  }

 .navegar li:hover {
    cursor: pointer;
  }

 .navegar ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
  }

  .navegar ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
    background-color: silver;
  }

  .navegar ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
  }

  .navegar ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px black;
    transition: all 0.3s ease;
  }

.navegar ul li ul li a { transition: all 0.5s ease; }

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/*------desktop-Menor------*/

@media screen and (max-width:980px){

  /*------BarraNavegacao------*/
  
  .nav-links{
    width: 60%;
  }
  
  .nav-links a{
    letter-spacing: 3px;
    font-size: 12px;
  }
  
    /*------Slider------*/
  
  .carousel-caption h1{
    font-size: 50px;
  }
  
  .carousel-caption h5{
    font-size: 25px;
  }
  
  .carousel-caption p{
    font-size: 15px;
  }
  
  
    /*------Menu-Tablet------*/
  
  @media screen and (max-width:768px){
  
  /*------BarraNavegacao------*/
  
  body{
    overflow-x: hidden;
  }
  
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 5vh;
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  
  .nav-links a{
    font-size: 15px;
    font-weight: bolder;
  }
  
  .nav-links li{
    opacity: 0;
  }
  
  .burger{
    display: block;
    z-index: 1000;
  }
  
  .nav-active{
  transform: translateX(0%);
  }
  
  
  /*------BarraNavegacao-Botaofechar------*/
  
  
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
  
    }
  }
  
  .toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
  }
  
  .toggle .line2{
  opacity: 0;
  }
  
  .toggle .line3{
  transform: rotate(45deg) translate(-4px,-4px);
  }
  
  /*------Slider------*/
  
  .carousel-caption h1{
    font-size: 38px;
  }
  
  .carousel-caption h5{
    font-size: 18px;
  }
  
  .carousel-caption p{
    font-size: 15px;
  }
  
   

}
}